<a href="https://colab.research.google.com/github/anjalidutt/DataAnalytics_Microcredential/blob/assignment_two/Dictionary_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dictionary Assignment**

**dictionary exercise 1: Below are the two lists convert it into the
dictionary**


```
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
```

In [1]:
my_dict={'Ten':10, 'Twenty':20, 'Thirty': 30}
print(my_dict)

**dictionary exercise 2: Merge following two Python dictionaries into one**


```
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
```

In [6]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
merged = {**dict1,**dict2}
print(merged)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**dictionary exercise 3: Access the value of key ‘history’**


```
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

```

In [9]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history'])

80

**dictionary exercise 4: Initialize dictionary with default values**


```
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
```

In [19]:
employees = ['Kelly', 'Emma', 'John']
Kelly = {"designation": 'Application Developer', "salary": 8000}
Emma={"designation": 'Application Developer', "salary": 8000}
John={"designation": 'Application Developer', "salary": 8000}

**dictionary exercise 5: Create a new dictionary by extracting the following keys from a given dictionary**


```
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
```

In [25]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
 
}

new_dict = {key:val for key,val in sampleDict.items() if key=='name' or key=='salary'}
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

**dictionary exercise 6: Delete set of keys from Python Dictionary**


```
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]
```

In [26]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
 
}
del sampleDict["name"], sampleDict["salary"]
print(sampleDict)

{'age': 25, 'city': 'New york'}

**dictionary exercise 7: Check if a value 200 exists in a dictionary**


```
sampleDict = {'a': 100, 'b': 200, 'c': 300}
```

In [37]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict.values())

True

**dictionary exercise 8: Rename key city to location in the following dictionary**


```
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
```

In [29]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sampleDict["location"]=sampleDict.pop("city")
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

**dictionary exercise 9: Get the key corresponding to the minimum value from the following dictionary**


```
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
```

In [34]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
minVal=0
corr_key=''
for p,q in sampleDict.items():
  minVal=q
  corr_key=p
  break

for i,j in sampleDict.items():
  if minVal>j:
    minVal=j
    corr_key=i
print(corr_key)

Math

**dictionary exercise 10: Given a Python dictionary, Change Brad’s salary to 8500**


```
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
```

In [36]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}