<a href="https://colab.research.google.com/github/anjalidutt/DataAnalytics_Microcredential/blob/assignment_one/Unit_2__Lesson_3_Practice_Assignments_AnjaliDutt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Unit 2 â€“ Lesson 4**

**Practice Assignments**

**Ques 1:	Write a Python program to construct the following pattern, using a nested for loop.**

```

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

```

In [45]:
for i in range(1,-1,-1):
  for j in range(5):
    print('* '*(j*i + (5-j)*(1-i)))  #(j*i + (5-j)-i*(5-j))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**Ques 2:	Write a Python program that accepts a word from the user and reverse it. Hint: use range() function**

In [56]:
word = input('Enter a word: ')
for i in range(len(word)-1,-1,-1):
  print(word[i], end='')

Enter a word: anjali
ilajna

In [53]:
#Using slice
word = input('Enter a word: ')
print(word[::-1])

Enter a word: anjali
ilajna

**Ques 3: Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
 Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5**

In [15]:
for i in range(6):
  if i==3:
    continue
  print(i, end=' ')

0 1 2 4 5

**Ques 4: Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.
 Expected Output:
Input a dog's age in human years: 15                                    
The dog's age in dog's years is 73**

In [57]:
dog_humanAge = int(input("Input a dog's age in human years: ")) 
dog_dogAge = max((dog_humanAge-2)*4,0) +10.5*min(2, dog_humanAge)
print(f"The dog's age in dog's years is {dog_dogAge}")

Input a dog's age in human years: 0
The dog's age in dog's years is 0.0

**Ques 5: # admission prices are as follows:**


```

age < 5 free
age >= 5 < 15  10.00
age >= 15 < 21 15.00
everyone else is 20.00

input the age
input the quantity
print out total cost of tickets
```

In [64]:
age = (float(input('Enter your age: ')))
if age<5:
  print("Cost: Free")
elif age<15:
  print("Cost: $10.00")
elif age<21:
  print("Cost: $15.00")
else:
  print("Cost: $20.00")

Enter your age: 12
Cost: $10.00